.file{
    width:100%;
    height:30px;
}

.file p {
    text-align : left;
}

.file img {
    width:20px;
}

.detail_image{
    width :70%;
    text-align: center;
}

.meta_label{
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
}

.meta_value{
    padding-left: 10px;
    text-align: left;
}

.fa-folder{
    color: #53BDF8;
}

.fa-folder-open{
    color: #53BDF8;
}

.bataskiri{
    border-left: 1px solid #DDD;
}

.bataskanan{
    border-right: 1px solid #DDD;
}

.main-menu{
    margin-top: 30px;
}
