#usermodal .modal-content {
  width: 340px;
}

#user-info {
  margin: 20px;
  width: 260px;
  background: #181D20;
  color: #FFFFFF;
}

.user-avatar {
  height: 175px;
  width: 260px;
  position: relative;
  z-index: 1;
}

.user-avatar-avatar {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 175px;
  overflow: hidden;
  z-index: 2;
}
.user-avatar-avatar img {
  width: 100%;
}

.user-username-container {
  height: 40px;
  width: 100%;
  margin-top: -40px;
  position: relative;
  z-index: 3;
  background-color: rgba(0,0,0,0.7);
}

.user-username {
  color: #FFFFFF;
  top: 10px;
  right: 10px;
  position: absolute;
  text-align: right;
}

.user-name {
  padding: 17px;
}

.user-fullname {
  font-size: 18pt;
}

.user-contact {
  text-align: right;
  padding: 0 17px 17px 17px;
}

.user-email a:hover {
  text-decoration: none;
  border-bottom: 1px solid #EAEAEA;
}
